@use "../../SCSS/" as *;

.exerciseCart-cart {
  padding: 2rem 1rem;
  border-top: 2px solid $red-pink;

  @include ipad {
    margin-bottom: 4rem;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: $box-shadow;
    border-radius: 1rem;
  }
  .detailed__information {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem;
    justify-content: center;

    .button_bodyPart {
      padding: 5px;
      border-radius: 3px;
      background-color: $red-pink;
    }
    .button_target {
      background: #fcd34d;
      padding: 4px;
      border-radius: 2px;
    }
  }
  .name_exercises {
    text-align: center;
  }
}
