@use "../../SCSS/" as *;

.Detai_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-bottom: 7rem;
  margin-left: 3rem;

  @include tablet {
    gap: 3rem;
  }
  @include ipadMini {
    flex-direction: column;
    margin-left: 0;
  }
  .Detail-image__content {
    padding: 4rem 3rem;
    border-radius: 3rem;
    background-color: $color-white;
    box-shadow: $box-shadow;

    @include ipad {
      padding: 2rem 1rem;
    }
    img {
      @include ipad {
        width: 15rem;
        height: 20rem;
        object-fit: cover;
      }
      @include ipadMini {
        width: 20rem;
      }
      @include mobile {
        width: 15rem;
        height: 15rem;
      }
    }
  }
  .about-detail__content {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include ipadMini {
      padding: 0;
    }
    .text__about {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h5 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
        color: $color-stone-black;
      }
    }
    .extraDetal {
      display: flex;
      align-items: center;
      gap: 2rem;

      button {
        padding: 1rem;
        border-radius: 50%;
        background: #fdba74;
      }
      h4 {
        font-size: 1.5rem;
      }
    }
  }
}
